node_modules
vendor
.git
.gitignore
.git
.env
storage/logs/*
bootstrap/cache/*
tests
phpunit.xml
README.md
LICENSE
.phpunit.result.cache
.grunt
.php-cs-fixer.cache
.idea
.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
